/* Provided by Google Fonts */
* {
  font-family: 'Cabin', 'sans-serif';
}

body {
  /*background: url(/static/imgs/IMG_2240_gray.jpg) no-repeat center center fixed;*/
  background: rgba(0, 0, 0, 1.0);
  background-size: cover;
  color: #FFF;
  margin-bottom: -40px;
}

.footer-well {
  border-radius:12px;
  background-color:#FFF;
  color:#333;
}

.well {
  margin: 0;
  padding: 0;
}

.page {
  text-align: left;
}

#main {
  background: rgba(0, 0, 0, 1.0);
  border-radius: 5px;
}

/*Making black, responsive background*/
.container {
  background: rgba(0, 0, 0, 1.0);
  margin-top:-20px;
  margin-bottom:-40px;
  padding-left:15px;
  padding-right:15px;
  padding-top:20px;
}

#sa-cdc-navbar-collapse {
  padding-left: 180px;
  font-size: 1.5em;
}

.sa-cdc-utility {
  padding-right: 80px;
  font-size: 1em;
  text-align: right;
}

.brand {
  margin: 3px 0px 0px 0px;
  position: absolute;
  z-index: 100;
  max-height: 72px;
  max-width: 76px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  border-radius: 5px;
}

img.frontpagepic {
  border-radius: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  display:table-cell; 
  vertical-align:middle;
}

img.frontpageicon {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display:table-cell; 
  vertical-align:middle;
  max-height: 240px;
}

footer{
	margin: 40px 0px;
    color: black;
}

/*  Attempting to fix carousel gradient */
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-caption a:link { color: #FFFFFF; }

.carousel-caption a:active { color: #5AC1FF; }

.carousel-caption a:visited { color: #C0C0C0; }

.captionright {
   right: 10px;
   left: auto;
   max-width: 150px;
   border-radius: 5px;
   padding-bottom: 0px;
   bottom: 5px;
}

.captionleft {
  /*background: rgba(155, 155, 155, 0.9);*/
  left: 0;
  max-width: 150px;
  border-radius: 5px;
  padding-bottom: 0px;
  bottom: 5px;
}

.captionattributionright {
  bottom: 0;
  right: 5px;
  left: auto;
  padding-bottom: 5px;
  font-size: .5em;
}

.captionattributionleft {
  bottom: 0;
  right: auto;
  left: 5px;
  padding-bottom: 5px;
  font-size: .5em;
}

h3.carousel {
  margin-top: 3px;
}

/*Trying to move pagination dots lower*/
.carousel-indicators {
  margin-bottom: 3px;
}

/*  Attempting to fix height of footer */
.demo{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.equal {
    overflow: hidden; 
}

/* Add margin to buttons by default. */
.btn {
  margin: 5px 2px 2px 2px;
}

/**
 * Adding resoponsiveness to google maps iframe
 * Credit: http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/
 **/
.map-container {
    position: relative;
    padding-bottom: 66%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Trying to fix linkedIn icon looking smaller than rest*/
img.linkedIn {
    margin: 11px 0px 11px 11px;
    max-width: 61px;
    max-height: 50px;
}

img.social-media {
    margin: 10px 10px 10px 10px;
    max-width: 50px;
    max-height: 50px;
}

.social-media {
    margin-top: 20px;
    text-align: center;
}

img.partner {
  padding: 5% 5% 5% 5%;
  margin: 0px auto;
  display:table-cell; 
  vertical-align:middle;
  max-height: 160px;
}

p.partner {
  background-color: rgb(87, 82, 82);
  max-width: 356px;
  max-height: 175px;
  margin: 0px auto;
  border-radius: 5px;
}

/**
 * Vertical align image.
 **/
span.partner {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}



/*
 * Link colors, make it pop on gray background.
 */

a:link { color: #0079C1; }

a:active { color: #5AC1FF; }

a:visited { color: #0079C1; }

/*
 *  Featurettes...
 */
.bs-docs-featurette {
  padding-top:    0px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 1.5;
  /*color: #555;*/
  text-align: center;
  vertical-align top;
  /*background-color: #fff;*/
  /*border-bottom: 1px solid #e5e5e5;*/
}
.bs-docs-featurette + .bs-docs-footer {
  margin-top: 0;
  border-top: 0;
}

.bs-docs-featurette-title {
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 5px;
}
.half-rule {
  width: 100px;
  margin: 40px auto;
}

.full-rule {
  margin: 40px auto;
}

.bs-docs-featurette h3 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 5px;
}
.bs-docs-featurette ul, ol {
  text-align: left;
}
.bs-docs-featurette-img {
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #333;
}
.bs-docs-featurette-img:hover {
  text-decoration: none;
  color: #428bca;
}
.bs-docs-featurette-img img {
  display: block;
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  /*.bs-docs-featurette .img-responsive {
    margin-top: 30px;
  }*/
  .bs-docs-featurette {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .captionleft {
    max-width: 20%;
    top: auto;
    bottom: 15%;
    right: auto;
    left: 20%;
  }
  .captionright {
    max-width: 20%;
    top: auto;
    bottom: 15%;
    right: 20%;
    left: auto;
  }
  .brand {
    max-height: none;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .bs-docs-featurette {
    padding-top:    0px;
    padding-bottom: 0px;
  }
  .bs-docs-featurette-title {
    font-size: 40px;
  }
  .bs-docs-featurette .lead {
    margin-left:  auto;
    margin-right: auto;
    max-width: 80%;
  }
  .bs-docs-featured-sites .col-sm-3:first-child img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .bs-docs-featured-sites .col-sm-3:last-child img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .bs-docs-featurette .img-responsive {
    margin-top: 0;
  }

  .captionleft {
    max-width: 250px;
    top: auto;
    bottom: 125px;
    right: 400px;
    left: auto;
  }
  .captionright {
    max-width: 250px;
    top: auto;
    bottom: 125px;
    right: auto;
    left: 400px;
  }
}

@media (min-width: 992px) {
  .captionleft {
    max-width: 450px;
    top: auto;
    bottom: 200px;
    right: 550px;
    left: auto;
  }
  .captionright {
    max-width: 450px;
    top: auto;
    bottom: 200px;
    right: auto;
    left: 550px;
  }
}

@media (min-width: 1200px) {
  .captionleft {
    max-width: 450px;
    top: auto;
    bottom: 300px;
    right: 650px;
    left: auto;
  }
  .captionright {
    max-width: 450px;
    top: auto;
    bottom: 300px;
    right: auto;
    left: 650px;
  }
}