/* Provided by Google Fonts */
* {
  font-family: 'Cabin', 'sans-serif';
}

body {
  background: url(/static/imgs/IMG_2240_gray.jpg) no-repeat center center fixed;
  background-size: cover;
}

#main {
  background: rgba(155, 155, 155, 0.9);
}

#sa-cdc-navbar-collapse {
  padding-left: 180px;
  font-size: 1.5em;
}

.sa-cdc-utility {
  padding-right: 80px;
  font-size: 1em;
  text-align: right;
}

.brand {
  margin: 15px 0px 0px 0px;
  position: absolute;
  z-index: 100;
}

.carousel-inner > .item > img { margin: 0 auto; }
footer{
	border-top: 1px dashed #CCCCCC;
	margin: 40px 0px;
	padding: 20px 0px;
}

@media (min-width: 768px) {

  .row {
    display: table; 
   }

  [class*="col-"]{
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

/*
 * Link colors, make it pop on gray background.
 */

a:link { color: #0079C1; }

a:active { color: #5AC1FF; }

a:visited { color: #0079C1; }

