---
title: Donations II
group: Get Involved
precedence: 1
tags:
  - service 
---
<div class="bs-docs-featurette">
  <h2 class="bs-docs-featurette-title">Help our Mission by Making a Donation</h2>
  <p class="lead">As a nonprofit dental health provider, we rely
  heavily on individual monetary donations to provide services to those in
  need.</p>

  <hr class="half-rule">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="/static/scripts/errorcodes.json" defer></script>
<script type="text/javascript" src="/static/scripts/donation-app.js" defer></script>

<div class="bs-docs-featurette border1">
  <span id="alertfield"></span>
</div>

<div class="row text-center" id="loading_init">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="alert alert-info" role="alert">
      <p>Loading donation form</p>
      <p><img src="/static/imgs/ajax-loader.gif" alt="loading" width=10%> </p>
    </div>
  </div>
</div>

<div class="row text-left hidden" id="failedToLoad">
  <div class="col-sm-8 col-sm-offset-1">
      <iframe seamless width="1000" height="900" src="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRr_5EY00pUXvBEVaNoq9qEBEOVZpPcIw91FrYieK2rA42EvVVAEjqawDomKT1pbouVk0gddPaqI8aWBIbUwUpP0="></iframe>
  </div>
</div>

<div ng-app="donation-app" ng-controller="mainController" class="hidden donate row text-center" id="donationApp">
  <div class="hidden col-md-8 col-md-offset-2 alert alert-danger" id="dev-warning" role="alert">
    In Development Environment -- Use only test values, you been warned.
  </div>
  <div class="col-md-8 col-md-offset-2 well" id="donation-central" style="padding: 19px 0px;">
    <div class="row" id="status-bar">
      <div class="col-xs-1 col-xs-offset-1 click">
        <div id="tx-one" class="active stage">
          1
        </div>
      </div>
      <div class="col-xs-1 col-xs-offset-1 col-sm-offset-2 click">
        <div id="tx-two" class="stage">
          2
        </div>
      </div>
      <div class="col-xs-1 col-xs-offset-1 col-sm-offset-2 click">
        <div id="tx-three" class="stage">
          3
        </div>
      </div>
      <div class="col-xs-1 col-xs-offset-1 col-sm-offset-2">
        <div id="tx-four" class="stage">
          4
        </div>
      </div>
      <div class="col-xs-12 amount">{{vanco.amount}} {{vanco.accounttype}}</div>
    </div>

    <div id="transaction-amount-block">
      <form class="form" role="form" id="amount-form" method="post" name="amountForm" ng-submit="amountFormSubmit(amountForm.$valid)">
        <fieldset>
          <h3>Tell us how to use your donation (choose one)</h3>
          <div class="row text-left">
            <label class="col-md-4">
              <h4>
                <input type="radio" value='0001' name="fundid" ng-model="client.fundid" checked required>
                Operations Support
              </h4>
              <p>
                Help us continue to provide high quality staff and support
                structures so that we can grow the clinic
              </p>
            </label>
            <label class="col-md-4">
              <h4>
                <input type="radio" value='0002' name="fundid" ng-model="client.fundid" autocomplete="off">
                Patient Care
              </h4>
              <p>
                Give the gift of a new smile by helping us cover the cost of direct
                patient services
              </p>
            </label>
            <label class="col-md-4">
              <h4>
                <input type="radio" value='0003' name="fundid" ng-model="client.fundid" autocomplete="off">
                Endowment
              </h4>
              <p>
                Help us continue to fund the clinic in perpetuity
              </p>
            </label>
          </div>

          <h3> Select an amount to donate. </h3>
          <div class="row">
            <button class="col-md-3 hidden-xs hidden-sm btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 50">
              $50
            </button>
            <button class="col-md-3 col-xs-6 btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 75">
              $75
            </button>
            <button class="col-md-3 col-xs-6 btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 100">
              $100
            </button>
            <button class="col-md-3 hidden-xs hidden-sm btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 150">
              $150
            </button>
            <button class="col-md-3 col-xs-6 btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 250">
              $250
            </button>
            <button class="col-md-3 hidden-xs hidden-sm btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 500">
              $500
            </button>
            <button class="col-md-3 hidden-xs hidden-sm btn btn-default btn-lg" type="submit" ng-click="vanco.amount = 1000">
              $1,000
            </button>
            <div class="col-md-3 input-group">
              <input class="form-control input-lg" type="number" pattern="[0-9]*" name="enteredAmount" id="enteredAmount" placeholder="Other" ng-model="vanco.amount" required>
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="submit" id="customAmt" ng-disabled="amountForm.$invalid">Go</button>
              </span>
            </div>
          </div>
          <button class="btn btn-default" type="submit" style="width: 90%; align-content: center;" ng-disabled="amountForm.$invalid">Next</button>
        </fieldset>
      </form>
    </div>

    <!-- Give somewhere for jQuery.validate to put errors for now... -->
    <span class="hidden" id="errors"></span>
    <div id="transaction-who-block" style="display:none;">
      <form class="form" role="form" name="whoForm" ng-submit="whoFormSubmit(whoForm.$valid)" novalidate>
        <fieldset>
          <legend>Billing Information</legend>
          <div class="row text-left">
            <div class="col-sm-6">
              <div class="form-group has-feedback">
                <label class="control-label" for="billing-first">First Name</label>
                <input class="form-control" id="billing-first" type="text" ng-model="client.first" name="first" required>
                <span id="billing-first_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-feedback">
                <label class="control-label" for="billing-last">Last Name</label>
                <input class="form-control" id="billing-last" type="text" ng-model="client.last" name="last" required>
                <span id="billing-last_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group has-feedback">
                <label class="control-label" for="billing-addr1">Address Line 1</label>
                <input class="form-control" id="billing-addr1" type="text"
                ng-model="vanco.customeraddress1" name="customeraddress1" ng-pattern="/^\d+ .*$/" required>
                <span id="billing-addr1_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="form-group has-feedback">
                <label class="control-label" for="billing-city">City</label>
                <input class="form-control" id="billing-city" type="text" ng-model="vanco.customercity" name="customercity" required>
                <span id="billing-city_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="billing-state">State</label>
                <select class="form-control" ng-model="vanco.customerstate" name="customerstate" id="billing-state">
                  <option value="">State</option>
                  <%= state_helper %>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label class="control-label" for="billing-zip">Zip Code</label>
                <input class="form-control" id="billing-zip" type="number" pattern="[0-9]*" ng-model="vanco.customerzip" name="customerzip"
                ng-pattern="/^[0-9]{5}(?:-[0-9]{4}){0,1}$/" required>
                <span id="billing-zip_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-feedback">
                <label class="control-label" for="billing-email">Email Address</label>
                <input class="form-control" id="billing-email" type="email" ng-model="vanco.customeremail" name="customeremail" required>
                <span id="billing-email_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-feedback">
                <label class="control-label" for="billing-phone">Phone Number</label>
                <input class="form-control" id="billing-phone" type="tel" ng-model="vanco.customerphone" name="customerphone" ng-maxlength="14">
                <span id="billing-phone_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-default" type="submit" style="width: 90%; align-content: center;" ng-disabled="whoForm.$invalid">Next</button>
          </div>
        </fieldset>
      </form>
    </div>

    <div id="transaction-payment-block" style="display:none;">
      <form class="form form-horizontal" role="form" id="type-form" method="post">
        <fieldset>
          <legend>Select Payment Method</legend>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  Credit Card
                  <input type="radio" value="CC" ng-model="vanco.accounttype" name="accounttype" id="paymentCC">
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  Checking
                  <input type="radio" value="C" ng-model="vanco.accounttype" name="accounttype" id="paymentC">
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  Savings
                  <input type="radio" value="S" ng-model="vanco.accounttype" name="accounttype" id="paymentS">
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="full-rule"></div>
    </div>

    <div id="transaction-CC-block" style="display: none;" ng-show="vanco.accounttype == 'CC'">
      <form class="CC form vanco_nvp" role="form" id="CC-form" method="get" name="ccForm" ng-submit="paymentFormSubmit('cc',ccForm.$valid)" novalidate>
        <fieldset>
          <div class="row text-left">
            <div class="col-sm-offset-4 col-xs-12 col-sm-4">
              <div class="form-group has-feedback">
                <label class="control-label" for="acctnumber">Credit Card Number</label>
                <input class="form-control" id="acctnumber" ng-model="payment.accountnumber" name="accountnumber" type="text" size="16" x-autocompletetype="cc-number" ng-pattern="/^[0-9]{15,16}$/" required>
                <span id="acctnumber_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-xs-offset-4 col-xs-8">
              <label class="control-label" for="cvv">Security Code (CVV)</label>
            </div>
            <div class="col-sm-offset-4 col-xs-12 col-sm-2">
              <div class="form-group has-feedback">
                <input class="form-control" type="number" id="cvv" ng-model="payment.cvvcode" name="cvvcode" ng-pattern="/^[0-9]{3,4}$/" required>
                <span id="cvv_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-offset-4 col-xs-8"><label>Expiration Date</label></div>
            <div class="col-sm-offset-4 col-xs-6 col-sm-2">
              <div class="form-group">
                <select class="form-control" id="expmth" name="expmonth" ng-model="payment.expmonth" required>
                  <option value="">Month</option>
                  <% for month in (1..12) %>
                  <option value="<%= month %>"> <%= month %> </option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-xs-6 col-sm-2">
              <div class="form-group">
                <select class="form-control" id="expyr" name="expyear" ng-model="payment.expyear" required>
                  <option value="">Year</option>
                  <% for year in (Time.new.year..(Time.new.year + 5)) %>
                  <option value="<%= year.to_s[2..3] %>"> <%= year %> </option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <span id="fields"></span>
          <input type="hidden" name="accounttype" value="CC">
          <button class="amount btn btn-default" type="submit" id="submitCC" ng-disabled="ccForm.$invalid">{{vanco.amount}}</button>
        </fieldset>
      </form>
    </div>

    <div id="transaction-C-block"  ng-show="vanco.accounttype == 'C'">
      <form class="CS form vanco_nvp" role="form" id="C-form" method="get">
        <fieldset>
          <div class="row text-left">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="form-group has-feedback">
                <label class="control-label" for="cacctnumber">Checking Account Number</label>
                <input class="form-control" type="text" id="cacctnumber"
                name="accountnumber" ng-pattern="/^[0-9]{1,17}$/" required> <!-- Always -->
                <span id="cacctnumber_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-3 col-sm-offset-4">
              <div class="form-group has-feedback">
                <!--<label id="rtg_glyph" class="control-label glyphicon"
                  for="routingNumber">Routing Number</label>-->
                <label class="control-label" for="rtgnumber">Routing Number</label>
                <input class="form-control" type="text" id="rtgnumber"
                name="routingnumber" ng-pattern="/^[0-9]{9}$/" required> <!-- Type=C or Type=S -->
                <span id="rtgnumber_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
          </div>
          <input type="hidden" name="accounttype" value="C">
          <button class="amount btn btn-default" type="submit" id="submitC">{{vanco.amount}}</button>
        </fieldset>
      </form>
    </div>

    <div id="transaction-S-block" ng-show="vanco.accounttype == 'S'">
      <form class="CS form vanco_nvp" role="form" id="S-form" method="get">
        <fieldset>
          <div class="row text-left">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="form-group has-feedback">
                <label class="control-label" for="sacctnumber">Savings Account Number</label>
                <input class="form-control" type="text" id="sacctnumber"
                name="accountnumber" ng-pattern="/^[0-9]{1,17}$/" required> <!-- Always -->
                <span id="sacctnumber_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
            <div class="col-sm-3 col-sm-offset-4">
              <div class="form-group has-feedback">
                <label class="control-label" for="srtgnumber">Routing Number</label>
                <input class="form-control" type="text" id="srtgnumber"
                name="routingnumber" ng-pattern="/^[0-9]{9}$/" required> <!-- Type=C or Type=S -->
                <span id="srtgnumber_glyph" class="glyphicon form-control-feedback"></span>
              </div>
            </div>
          </div>
          <input type="hidden" name="accounttype" value="S">
          <button class="amount btn btn-default" type="submit" id="submitS">{{vanco.amount}}</button>
        </fieldset>
      </form>
    </div>

    <div id="transaction-loading" style="display: none;">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
          <img src="/static/imgs/ajax-loader.gif" class="img-responsive">
        </div>
      </div>
    </div>


    <div id="transaction-confirm-block" class="center-block"
      style="display:none;">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img src="/static/imgs/pic-content/smile_sign.jpg"
          class="img-responsive" alt="Smile!">
        </div>
      </div>
      <p> Keep this smile for your records.</p>
      <span id="confirm"></span>
      <!--<p class="text-center">The following exemplifies the
      services your donation supports:</p>
      <span id="purchased"></span>-->
      <p class="text-center">Thank you for your donation!</p>
      <div class="text-center">San Antonio Christian Dental Clinic</div>
      <div class="text-center">
        For questions or concerns regarding your donation
        please contact Susan Quick at 210.220.2304 or
        <a href="mailto:Susan@sachristiandental.org">Susan@sachristiandental.org</a>
      </div>
    </div>

    <div id="transaction-error-block" class="center-block" style="display: none;">
      <div>We were unable to process your transaction for the following reason(s):
        <ul id="error"> </ul>
        <div>Try either:
          <ul>
            <li><a href="/get_involved/donations">Restarting</a> your transaction</li>
            <li>Donate directly through <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRr_5EY00pUXvBEVaNoq9qEBEOVZpPcIw91FrYieK2rA42EvVVAEjqawDomKT1pbouVk0gddPaqI8aWBIbUwUpP0=" class="btn btn-primary active" role="button" target="_blank">Vanco Services</a></li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="half-rule">

    <p> Secure transaction provided by <a href="www.vancoservices.com" target="_blank"> Vanco Services, LLC.</a></p>
  </div>
</div>


<p class="donate text-center">
  For donation information, please contact us at
  <a href="tel:2102202304">(210) 220-2304</a> or
  <a href="mailto:susan@sachristiandental.org?Subject=Would%20Like%20to%20Make%20a%20Donation" target="_top">susan@sachristiandental.org</a>.
</p>


<hr class="donate half-rule">

</div>

