---
title: Volunteer 
group: Get Involved
precedence: 1
tags:
  - sa-cdc
---
<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Get Involved.</h2>
    <p class="lead">Want to help the community? We need volunteers.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="/static/imgs/The_official_emblem_of_dentistry_(color).png" alt="Sass and Less support" class="bs-docs-featurette-img img-responsive">
        <h3>Why Get Involved</h3>
        <p>Volunteers are crucial to the success of our agency. In fact, each year SACDC relies upon its nearly 300 volunteers to bring help healing and hope to almost 8,000 patients. With so much need in our community, there is a need for nearly eery kind of skill!</p>
        <p>""</p>
        <ul>
          <li>Dentists</li>
          <li>Hygienists</li>
          <li>Dental Assistants</li>
          <li>Sterilization Technicians</li>
          <li>Laboratory Technicians</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <img src="/static/imgs/sheikh_tuhin_Book_Open.png" alt="Responsive across devices" class="bs-docs-featurette-img img-responsive">
        <h3>Ways To Get Involved</h3>
        <ul>
          <li>Office Receptionists</li>
          <li>Telephone answering</li>
          <li>Dental record maintenance</li>
          <li>Database entry</li>
          <li>Graphic Design</li>
          <li>Special Events</li>
          <li>Fundraising</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <img src="/static/imgs/tooth.png" alt="Components" class="bs-docs-featurette-img img-responsive">
        <h3>Get started</h3>
        <% h = @items['/clinic_info/downloads/Volunteer_Application/'] %>
        <ol>
          <li>Complete <a href="<%= h.path %>">this application form</a></li>
          <li>Submit it:
            <ul>
              <li><a href="mailto:#">email (email@sa-cdc.org)</a></li>
              <li><a href="#">mail </a></li>
              <li>bring to the clinic</li>
            </ul>
          <li>Questions: (210) 220-2301</li>
        </ol>
      </div>
    </div>

    <hr class="half-rule">
  </div>
</div>

