---
title: Downloads
group: Clinic Info
tags:
  - none
---

<h3>Forms, documents, and other information for download:</h3>

<br>

<ul class="list-inline">
  <% docs = @items['/clinic_info/downloads/'].children %>
  <% docs.each do |doc| %>
    <li>
      <% path = doc.path %>
      <a href="<%= path %>" style="font-size: 1.5em;">
        <img src="<%= doc.path(:rep => :thumbnail) %>" style="margin: 5px 5px 5px 5px;">
        <%= path.sub('/clinic_info/downloads/', '') %>
      </a>
    </li>
  <% end %>
</ul>
